body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #2e2c2c !important;
}

.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #5b5e5e;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 6px 20px 0, 0 6px 20px 0;
  -webkit-box-shadow: -10px 15px black, 0 6px 20px 0;
  -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #fff;
}
.container_sf {
  display: flex;
  justify-content: flex-start;
}
.container_sw {
  display: flex;
}
.login_btn {
  width: 100%;
  background: #f7ba5b !important;
  color: white !important;
}

.add_btn {
  width: auto;
  height: auto;
  background: #f7ba5b;
  color: white;
}

.fav_btn {
  width: auto;
  height: auto;
  display: inline-block;
  background: #f7ba5b;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .100rem .500rem;
  font-size: 1.5em;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.fav1_btn {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: transparent;
  color: white;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .100rem .500rem;
  font-size: 2.5vh;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.not_btn {
  width: 100%;
  height: auto;
  background: #f7ba5b;
  color: white;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .100rem .500rem;
  font-size: 1.2em;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 1vh;
}

.custom-msg {
  font-size: 2em;
  color: #fff;
}
.custom-msg2 {
  font-size: 1.5em;
  color: #fff;
}

.custom-msg4,
.custom-msg3 {
  font-size: 2.5vh;
  color: #fff;
  margin-left:3vh;
}

.placeholder_value {
  font-size: 1.5em;
  color: black;
  width: 50%
}

.toggle_sw{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: flex-end;
}

.content_sw{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.content_values{
  width:40%;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

#table {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.table, td{
  border: 1px solid rgb(59, 59, 59);
  border-collapse: collapse;
  width: 1em;
}
.th{
  border: 1px solid rgb(71, 71, 71);
  border-collapse: collapse;
}
.dropbtn {
  background-color: #f7ba5b;
  color: white;
  padding: 50%;
  font-size: 2vh;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f0b24e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.badge {
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 7px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

/* The Modal (background) */
.my-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.my-modal-content {
  position: relative;
  background-color: #2e2c2c;
  margin: auto;
  padding: 0;
  border: 0px solid #888;
  min-width: fit-content;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.mclose {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.mclose:hover,
.mclose:focus {
  color: #f7ba5b;
  text-decoration: none;
  cursor: pointer;
}

.my-modal-header {
  padding: 8px 16px;
  background-color: #5b5e5e;
  color: white;
}

.my-modal-body {
  padding: 8px 16px;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  width: auto;
}


.my-modal-footer {
  padding: 8px 16px;
  background-color: #5b5e5e;
  color: white;
  text-align:right;
}

.custom-select{
  background-color: #f0b24e;
  color: white;
  padding: 6px;
  width: 50%;
  height:50%;
  border: none;
  font-size: 3vh;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2vw;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #f0b24e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.coin-image{
  height:auto; 
  width:10%;
  min-width: 3vh;
}

.coin-image-2{
  height:auto; 
  width:30%;
  min-width: 3vh;
}

