{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <br>
            <h2 style="color: white;">Cryptocoins</h2>
            <br>
            <!-- Button trigger modal table -->
            <button type="button" class="btn login_btn" data-toggle="modal" data-target="#favourites"
                style="width:13vw">
                Show Favourites
            </button>

            <!-- Modal Table Load Favourites here -->
            <!-- TODO window in center -->
            <div class="modal fade" id="favourites" tabindex="-1" role="dialog" aria-labelledby="tablefavourites"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tablefavourites">Your Favourites</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table Crypto -->
            <div class="table-responsive">
                <table id="table" data-pagination="true"
                    data-search-highlight="true" data-search-align="left" data-sortable="true" data-height="650" data-url="127.0.0.1:8000/json"
                    class="table table-bordered table-hover table-sm">

                    
                </table>
            </div>
            <hr />

        </main>
        <div class="col"></div>
    </div>
</div>
<script>
    
    $('#table').bootstrapTable({
        columns: [{
            field: 'name',
            title: 'Name'
        }, {
            field: 'current',
            title: 'Price'
        }, {
            field: 'high_1d',
            title: 'Name'
        }, {
            field: 'low_1d',
            title: 'Name'
        }]
    })
</script>
{% endblock%}