{% extends 'base.html' %} {% block content %}

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<div class="container-fluid">
    <div id="myModal" class="my-modal">
        <div class="my-modal-content">
            <div class="my-modal-header">
                <h2 style="text-align: center;">Cryptocoin Details</h2>
            </div>
            <div class="my-modal-body" style="text-align:center;border-color: blanchedalmond; color:white;">
                <p class="custom-msg">7 days Average</p>
                <div>&nbsp;
                    <span id="sparkline_crypto_detalii" class="inlinesparklinemodal"></span>&nbsp;
                </div>
            </div>
            <div class="my-modal-footer">
                <button name="modalClose" type="button" class="btn btn-secondary add_btn"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h2 style="color: white;">Cryptocoins</h2>
            <p></p>
            <div class="container_sf">
                <!-- Button trigger modal table -->
                <div class="input-group-append" style="margin-right:1vh">
                    <button type="button" class="not_btn1" data-toggle="modal" data-target="#favourites" onclick="changeFavPriceColor()"
                    >Favourites</button>
                </div>
                
                <form method="GET" action="filter">
                    <div class="input-group mb-3">
                        <input type="search" name="contain" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn add_btn" type="submit" style="z-index: 0;">Go</button>
                        </div>
                    </div>
                </form>
                <div style="padding-left: 1vh;">
                    <div class="dropdown">
                      <button class="dropbtn"> {{ favC }}</button>
                      <div class="dropdown-content">
                        {% for curr in currencyList %}
                        <form action="changeFavCurrency" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="curr" value="{{ curr }}">
                          <input type="Submit" class="dropdown-item" value="{{ curr }}">
                        </form>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
            </div>
            <!-- Modal Table Load Favourites here -->
            <p></p>

            <div class="modal fade" id="favourites" tabindex="-1" role="dialog" aria-labelledby="tablefavourites"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #5b5e5e;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tablefavourites" style="color:white">Your Favourites</h5>
                        </div>
                        <div class="modal-body" style="background-color: #2e2c2c;">
                            <div class="table-responsive">
                                <table id="table" data-toggle="table" class="table table-bordered table-hover">
                                    <thead>
                                        <tr style="color: rgb(255, 255, 255); background-color: #f3bb61;">
                                            <th data-field="id" data-sortable="true" scope="col">Name </th>
                                            <th data-field="price" data-sortable="true" scope="col">Price</th> 
                                            <th data-field="24high" data-sortable="true" scope="col">24h High</th>
                                            <th data-field="24low" data-sortable="true" scope="col">24h Low</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for coin in fav %}
                                        <tr scope="row" style="color:rgb(255, 255, 255)">
                                            <td>
                                                <input type="hidden" name="fav_coins_name" value="{{ coin.coin_id }}">
                                                <span><img class="coin-image" src="{{ coin.image }}"></span>
                                                <span>{{ coin.coin_id|title }}</span>                                
                                            </td>
                                            <td><span name="pret_curent_fav">{{ coin.current }}</span></td>
                                            <td>{{ coin.high_1d }}</td>
                                            <td>{{ coin.low_1d }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary add_btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table Crypto -->
            <div>
                <table id="table" data-toggle="table" class="table-responsive table">
                    <thead>
                        <tr style="color: rgb(243, 241, 241); background-color: #f3bb61">
                            <th data-field="id" scope="col">Name </th>
                            <th data-field="sym" scope="col"> Symbol </th>
                            <th data-field="price" scope="col">Price</th>
                            <th data-field="24high" scope="col">24h High</th>
                            <th data-field="24low" scope="col">24h Low</th>
                            <th data-field="Last 24 Hours" scope="col">Last 24 Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coin in crypto %}
                        <tr scope="row" style="color:white">
                            <td>
                                {% if coin in fav %}
                                    <div class="container_sf">
                                        <form action="delFavorite" method="POST">
                                            {% csrf_token %}
                                            <!--when clicked this button will sent a request to delete the current crypto from user favorites -->
                                            <input type="hidden" name="crypto.id" value="{{ coin.coin_id }}">
                                            <input type="Submit" class="fav1_btn" style="color:#f3b24a" value="★">    
                                        </form>
                                        <a name="btndetali" type="button" class="fav1_btn" href="{% url 'details' value=coin.coin_id|title %}">
                                            <span><img class="coin-image" src="{{ coin.image }}"></span>
                                            <span>{{ coin.coin_id|title }}</span>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="container_sf">
                                        <form action="addFavorite" method="POST">
                                            {% csrf_token %}
                                            <!--when clicked this button will sent a request to add the current crypto to favorites of user -->
                                            <input type="hidden" name="crypto.id" value="{{ coin.coin_id }}">
                                            <input type="Submit" class="fav1_btn" style="color:#f3b24a" value="☆">
                                        </form>
                                        <a name="btndetali" type="button" class="fav1_btn" href="{% url 'details' value=coin.coin_id|title %}">
                                            <span><img class="coin-image" src="{{ coin.image }}"></span>
                                            <span>{{ coin.coin_id|title }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ coin.symbol }}</td>
                            <td><span name="pret_curent">{{ coin.current }}</span></td>
                            <td>{{ coin.high_1d }}</td>
                            <td>{{ coin.low_1d }}</td>
                            <td style="text-align: center; width:15%;"><span name="sparkline_crypto" class="inlinesparkline"></span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />
            {% if crypto.has_other_pages %}
            <ul class="pagination justify-content-end">
                {% if crypto.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="javascript:insertParam('page',1)" aria-label="Previous">
                        <span aria-hidden="true" style="color:#f7ba5b">&laquo; First</span>
                    </a>
                </li> {% endif %}
                {% for n in crypto.paginator.page_range %}
                {% if crypto.number == n %}
                <li class="page-item active">
                    <span class="page-link" style="background-color:#f7ba5b; border-color:#f7ba5b">{{ n }}</span>
                </li>
                {% elif n > crypto.number|add:'-5' and n < crypto.number|add:'5' %} <li class="page-item"><a
                        class="page-link" href="javascript:insertParam('page',{{ n }})" style="color:#f3b24a">
                        {{ n }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if crypto.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="javascript:insertParam('page',{{ crypto.paginator.num_pages }})"
                            aria-label="Next" style="color:#f7ba5b">
                            <span aria-hidden="true">&raquo; Last</span>
                        </a>
                    </li>
                    {% endif %}
            </ul>
            {% endif %}
        </main>
        <div class="col"></div>
    </div>
</div>
<style>
    .input[type="Submit"] {
        display: none;
    }
</style>


<script>
    // When the user clicks the button, open the modal
    function sparklineDetails(coinId){
        var avg_day = {{ avgDay | safe }};
        $('.inlinesparklinemodal').sparkline(avg_day[coinId], {type: 'line',lineColor:'#f7ba5b',spotColor:'white',minSpotColor:'red',maxSpotColor:'#7FFF00',fillColor:'#2e2c2c',lineWidth:2, disableHiddenCheck: true, height: '30vh', width: '70vh'});
    }
    function showModal(coinId){
        document.getElementById("myModal").style.display = "block";
        sparklineDetails(coinId)
    }

    // When the user clicks on <span> (x), close the modal
    document.getElementsByName("modalClose")[0].onclick = function () {
        document.getElementById("myModal").style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == document.getElementById("myModal")) {
            document.getElementById("myModal").style.display = "none";
        }
    };
    function changeFavPriceColor(){
        var market_chart = {{ chart | safe }};
        var favs_price = document.getElementsByName("pret_curent_fav");
        var favs_name = document.getElementsByName("fav_coins_name");
        for (let index = 0; index < favs_name.length; index++) {
            if (favs_price[index].innerHTML > market_chart[favs_name[index].value][0]) {
                document.getElementsByName("pret_curent_fav")[index].style.color="lightgreen";
            }
            else{
                document.getElementsByName("pret_curent_fav")[index].style.color="#ff6666";
            }
        }
    };
    function changeSparkline(){
        var myvar = {{ chart | safe }};
        var arr = document.getElementsByName("crypto.id");
        var arr2 = document.getElementsByName("pret_curent");
        for (let index = 0; index < arr.length; index++) {
            document.getElementsByName("sparkline_crypto")[index].innerHTML = myvar[arr[index].value][1];
            if (arr2[index].innerHTML > myvar[arr[index].value][0]) {
                document.getElementsByName("pret_curent")[index].style.color="lightgreen";
            }
            else{
                document.getElementsByName("pret_curent")[index].style.color="#ff6666";
            }
        }
    };
    $(document).ready(function() {
        changeSparkline();
    });
</script>
{% endblock%}