{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <br>
            <h2 style="color: white;">Cryptocoins</h2>
            <br>
            
            <div class="table-responsive">
                <table 
                    id="table" 
                    data-toggle="table" 
                    data-search="true"
                    data-search-highlight="true"
                    data-search-align="left"
                    data-sortable="true"
                    class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr style="color: rgb(243, 241, 241); background-color: #f3bb61;">
                            <th data-field="id" data-sortable="true" scope="col">Name </th>
                            <th data-field="price" data-sortable="true" scope="col">Price</th>
                            <th data-field="24high" data-sortable="true" scope="col">24h High</th>
                            <th data-field="24low" data-sortable="true" scope="col">24h Low</th>
                            <th scope="col"> Add to favourites </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coin in coins %}
                        {% for price in prices%}
                        {% if price.coin_id_id == coin.id%}
                        <tr scope="row" style="color:white">
                            <td>{{ coin.name }}</td>
                            <td>{{ price.current }}</td>
                            <td>{{ price.high_1d }}</td>
                            <td>{{ price.low_1d }}</td>
                            <td> <button> {{ function }} </button> </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr/>
            {% if coins.has_other_pages %}
            <ul class="pagination justify-content-end">
                {% if coins.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo; First</span>
                    </a>
                </li> {% endif %}
                {% for n in coins.paginator.page_range %}
                {% if coins.number == n %}
                <li class="page-item active">
                    <span class="page-link">{{ n }}</span>
                </li>
                {% elif n > coins.number|add:'-5' and n < coins.number|add:'5' %} <li class="page-item"><a
                        class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if coins.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ coins.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo; Last</span>
                        </a>
                    </li>
                    {% endif %}

            </ul>
            {% endif %}
        </main>  
        <div class="col"></div>
    </div>
</div>

{% endblock%}