{% load static %}


<style>
    .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
    
    .btn-group .button {
        background-color: transparent;
        border: 0px solid #f0a52d;
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        position: relative;
        left: 20px;
    }
    
    .btn-group .button:hover {
        background-color: #f0a52d;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5b5e5e;">
    <img src="{% static 'images/logo.png' %}" style="width: 5vw; height: auto; margin-left:10px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="btn-group">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <button class="button"> <a class="nav-link active" href="{% url 'home' %}">Cryptocurrency</a></button>
                </li>
                <li class="nav-item">
                    <button class="button"><a class="nav-link active" href="{% url 'home' %}">Stock Market</a></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

        </ul>
    </div>

    {% block content %} {% if user.is_authenticated %}
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span> {% else %}
    <span class="hello-msg">You are not logged in</span>
    <span><a  class="hello-msg" href="{% url 'login' %}">Click here to log in</a></span> {% endif %} {% endblock %}

</nav>