{% load static %}


<style>
    .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
    .btn-group .button {
        background-color: transparent;
        border: 0px solid #f0a52d;
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        position: relative;
        left: 20px;
    }
    .btn-group .button:hover {
        background-color: #f3bb61;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #302f35;border-bottom:0.1rem solid #f3bb61">
    <div>
        <img class="nav-image" src="{% static 'images/logo_home.png' %}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="btn-group">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <button class="button"> 
                        <a class="nav-link active" href="{% url 'home' %}">Cryptocurrency</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="button">
                        <a class="nav-link active" href="{% url 'stock' %}">Stock Market</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="button">
                        <a class="nav-link active" href="{% url 'notificationTab' %}">Notifications</a>
                        <span class="badge">{{ nrnot }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    {% block content %} 
    {% if user.is_authenticated %}
    <div>
        <span class="btn add_btn"> Hello, {{request.user}} </span>
        <span class="btn add_btn"><a class="link" href="{% url 'logout' %}">Logout</a></span> {% else %}
        <span class="hello-msg">You are not logged in</span>
        <span><a class="hello-msg" href="{% url 'login' %}">Click here to log in</a></span> {% endif %} {% endblock %}
    </div>
</nav>
