{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <p class="hello-msg" style="padding-left: 1vh;padding-top: 1vh;">Your Notifications</p>
    <form>
        <button type="submit" class="btn add_btn">Disable all Notifcations</button>
    </form>
    
    <p></p>
    <div class="table-responsive">
        <table id="table" data-toggle="table" class="table-responsive table-bordered table-hover table-sm">
            <thead>
                <tr style="color: rgb(243, 241, 241); background-color: #f3bb61;">
                    <th data-field="id" scope="col">Name </th>
                    <th data-field="price" scope="col">Initial Value</th>
                    <th data-field="24high" scope="col">Final Value</th>
                    <th data-field="24low" scope="col">Enabled</th>
                </tr>
            </thead>
            <tbody>
                {% for noti in notificari %}
                <tr scope="row" style="color:white">
                    <td>{{ noti.coin.name }}</td>
                    <td>{{ noti.intial_value }}</td>
                    <td>{{ noti.final_value }}</td>
                    <td>
                        {% if noti.enabled %}
                            <form id="myform" action="notificationTab" method="POST">
                                {% csrf_token %}
                                <label class="switch">
                                    <input type="hidden" name="crypto_id" value="{{ noti.coin_id }}">
                                    <input type="hidden" name="state" value="">
                                    <input type="checkbox" name="cbox" onchange="document.getElementById('myform').submit()" checked>
                                    <span class="slider round"></span>
                                </label>
                            </form>
                        {% else %}
                            <form id="myform" action="notificationTab" method="POST">
                                {% csrf_token %}
                                <label class="switch">
                                    <input type="hidden" name="crypto_id" value="{{ noti.coin_id }}">
                                    <input type="hidden" name="state" value="True">
                                    <input type="checkbox" name="cbox" onchange="document.getElementById('myform').submit()">
                                    <span class="slider round"></span>
                                </label>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>

</script>
{% endblock%}