{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container-fluid">
    <p>
    </p>
    <div class="container-fluid">
        <p class="custom-msg">Your notifications</p>
    </div>
    <div class="container-fluid" style="overflow:auto;max-height:350px;">

        {% for noti in notificari %}
        <div class="input-group-append container_sw not_btn">
            <div class="content_sw">
                <div class="fav1_btn">
                    <button type="button" class="fav1_btn" data-toggle="modal" data-target="#favourites"
                        style="background-color: #f7ba5b;font-size: 3vh;">{{ noti.coin_id|title }}</button>
                </div>
                <div class="content_values">
                    <div>
                        <label class="custom-msg3">Initial Value </label>
                        <span class="custom-msg3">{{ noti.intial_value }}</span>
                    </div>
                    <div>
                        <label class="custom-msg3">Final Value </label>
                        <span class="custom-msg3">{{ noti.final_value }}</span>
                    </div>
                </div>
            </div>
            <div class="toggle_sw">
                {% if noti.enabled %}
                <form name="myform" action="modifyNotification" method="POST">
                    {% csrf_token %}
                    <label class="switch">
                        <input type="hidden" name="crypto_id" value="{{ noti.coin_id }}">
                        <input type="hidden" name="state" value="">
                        <input type="checkbox" name="cbox"
                            onchange="document.getElementsByName('myform')['{{ forloop.counter0 }}'].submit()" checked>
                        <span class="slider round"></span>
                    </label>
                </form>
                {% else %}
                <form name="myform" action="modifyNotification" method="POST">
                    {% csrf_token %}
                    <label class="switch">
                        <input type="hidden" name="crypto_id" value="{{ noti.coin_id }}">
                        <input type="hidden" name="state" value="True">
                        <input type="checkbox" name="cbox"
                            onchange="document.getElementsByName('myform')['{{ forloop.counter0 }}'].submit()">
                        <span class="slider round"></span>
                    </label>
                </form>
                {% endif %}
                <form action="deleteNotification" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="crypto_delete" value="{{ noti.coin_id }}">
                    <button class="fav1_btn toggle_sw" type="submit">
                        <svg height="30" width="30">
                            <line x1="0" y1="0" x2="30" y2="30" style="stroke:red; stroke-width:7" />
                            <line x1="30" y1="0" x2="0" y2="30" style="stroke:red; stroke-width:7" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <button id="mybtn" type="button" class="fav_btn" style="margin-top: 5vh;">Add Notification</button>
    </div>
</div>
<div id="myModal" class="my-modal">
    <!-- Modal content -->
    <div class="my-modal-content">
        <div class="my-modal-header">
            <h2 style="text-align: center;">Create notification</h2>
        </div>
        <div class="my-modal-body" style="border-color: blanchedalmond; color:white;">
            <form method="POST" action="createNotification">
                {% csrf_token %}
                <div>
                    <div>
                        <label class="custom-msg2" for="value_type">Create Notification for : </label>
                        <p></p>
                        <select class="custom-select" name="optionCrypto" id="value_type" style="width: 50%;" onblur='this.size=0;'
                            onchange='this.size=1; this.blur();'>
                            {% for fav in favorites %}
                            <option>{{ fav.coin_id|title }}</option>
                            {% endfor %}
                        </select>
                        <p></p>
                    </div>
                    <div>
                        <label class="custom-msg2" for="value_type">Notify me when : </label>
                        <p></p>
                        <select class="custom-select" name="option" id="value_type">
                            <option value="bigger" selected>Value Bigger than</option>
                            <option value="lower">Value Lower than</option>
                            <option value="equal">Value Equal to</option>
                            <option value="g_perc">Growth with percentage</option>
                            <option value="d_perc">Decrease with percentage</option>
                        </select>
                        <p></p>
                    </div>
                    <div>
                        <label class="custom-msg2" for="value_type">Value : </label>
                        <p></p>
                        <input class="placeholder_value" style="width:50%;font-size:3vh;" type="number" name="value"
                            placeholder="Value...">
                        <p></p>
                    </div>
                    <div style="margin-bottom: 3vh;">
                        <label class="custom-msg2" for="value_type">Via email : </label>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            
                </div>
            <div class="my-modal-footer">
                <button name="modalSave" type="submit" class="btn btn-secondary add_btn">Save</button>
                <button name="modalClose" type="button" class="btn btn-secondary add_btn"
                    data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="favourites" tabindex="-1" role="dialog" aria-labelledby="tablefavourites"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #5b5e5e;">
            <div class="modal-header">
                <h5 class="modal-title" id="tablefavourites" style="color:white">Details</h5>
            </div>
            <div class="modal-body" style="background-color: #2e2c2c;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary add_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("mybtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByName("modalClose")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% endblock%}